<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
      </head>
<body>

    <header>
        <%- include('partials/header') %>
         </header>
    


         <section class="block-1">
            <div class="intro-1">
                <div class="intro-1-text">
                    <h2>Replace “bit.ly” with Your Brand</h2>
                    <p>Search for, select and set up the perfect custom domain for your brand—all within Bitly—in minutes.</p>
                </div>
                <div class="cta-1">  
                    <!-- call to action -->
                     <button class="cta-explore"><i class="far fa-lightbulb"></i> Learn More</button>
                  </div>
            </div>
            
           <div class="img-1">
            <img src="img-5.svg" alt="img-5">
           </div>
        </section>
        
        
        
        <div class="container">
            <hr class="line"> 
        </div>
        
        
        
        
        <section class="block-2">
            <div class="img-2">
                <img src="img-6.svg" alt="img-6">
               </div>
            <div class="intro-2">
                <div class="intro-2-text">
                    <h2>Get more clicks</h2>
                    <p>Custom domains replace the “bit.ly” in your links with the name of your choosing so you can take total control of your content. By using your brand in your links, your audience will know they can trust them</p>
                </div>
                <div class="cta-1">  
                    <!-- call to action -->
                     <button class="cta-explore"><i class="far fa-lightbulb"></i> Learn More</button>
                  </div>
            </div>
        </section>
        
        
        
        <div class="container">
            <hr class="line"> 
        </div>
        
        
        
        <section class="block-3">
            <div class="intro-3">
                <div class="intro-3-text">
                    <h2>Put the perfect custom domain to work in minutes, for free</h2>
                    <p>Only Bitly combines custom domain setup and complete link management into a single brand-building platform. Start taking advantage of the power of branded links on day one.</p>
                </div>
                <div class="cta-1">  
                    <!-- call to action -->
                     <button class="cta-explore"><i class="far fa-lightbulb"></i> Learn More</button>
                  </div>
            </div>
        
           <div class="img-3">
            <img src="img-7.svg" alt="img-7">
           </div>
        </section>
        
        
        
        <div class="container">
            <hr class="line"> 
        </div>
        
        
        
        <section class="block-4">
        
            <div class="img-4">
                <img src="img-8.gif" alt="img-8">
               </div>
        
            <div class="intro-4">
                <div class="intro-4-text">
                    <h2>Turn your links into brand assets</h2>
                    <p>With trust comes action. Businesses that share custom links see up to a 34% boost in click-throughs. It’s simple: If your audience trusts your links and knows where they lead, they’re more likely to click on them.</p>
                </div>
                <div class="cta-1">  
                    <!-- call to action -->
                     <button class="cta-explore"><i class="far fa-lightbulb"></i> Learn More</button>
                  </div>
            </div>
        
           
        </section>
    
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>