<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
      </head>
<body>

    <header>
        <%- include('partials/header') %>
         </header>
    

         <section class="under-construction">
            
                <div class="pricing-1">
                    <div class="pricing-1-text">
                        <h2>Sorry,Page Under Construction</h2>
                        <p>Please Come Back later , We sure come up with exciting changes all the time <i class="far fa-smile-beam"></i></p>
                    </div>
                    <div class="cta-pricing">  
                        <!-- call to action -->
                         <button class="cta-return" onClick="document.location.href='/';"><i class="far fa-lightbulb"></i> Return To Home</button>
                      </div>
                </div>
                
               <div class="img-1">
                <img src="under-construction.svg" alt="under-construction">
               </div>
            
         </section>
    
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>