<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <%- include('partials/header') %>
         </header>

<section class="block-1">
    <div class="intro-1">
        <div class="intro-1-text">
            <h2>World-class link management</h2>
            <p>We help businesses shine by transforming their links into powerful tools for marketers and customer support teams.</p>
        </div>
        <div class="cta-1">  
            <!-- call to action -->
             <button class="cta-explore"><i class="far fa-lightbulb"></i> Explore</button>
          </div>
    </div>
    
   <div class="img-1">
    <img src="img-1.svg" alt="img-1">
   </div>
</section>



<div class="container">
    <hr class="line"> 
</div>




<section class="block-2">
    <div class="img-2">
        <img src="img-2.svg" alt="img-2">
       </div>
    <div class="intro-2">
        <div class="intro-2-text">
            <h2>Get more clicks with custom links</h2>
            <p>Make your links powerful marketing assets. They’re so powerful, businesses that use them get up to 34% more clicks.</p>
        </div>
        <div class="cta-1">  
            <!-- call to action -->
             <button class="cta-explore"><i class="far fa-lightbulb"></i> Explore</button>
          </div>
    </div>
</section>



<div class="container">
    <hr class="line"> 
</div>



<section class="block-3">
    <div class="intro-3">
        <div class="intro-3-text">
            <h2>Maximize your performance using real-time analytics</h2>
            <p>Understand what content is resonating with your audience with comprehensive metrics on every link and campaign—like Number of clicks</p>
        </div>
        <div class="cta-1">  
            <!-- call to action -->
             <button class="cta-explore"><i class="far fa-lightbulb"></i> Explore</button>
          </div>
    </div>

   <div class="img-3">
    <img src="img-3.svg" alt="img-3">
   </div>
</section>



<div class="container">
    <hr class="line"> 
</div>



<section class="block-4">

    <div class="img-4">
        <img src="img-4.svg" alt="img-4">
       </div>

    <div class="intro-4">
        <div class="intro-4-text">
            <h2>Integrate seamlessly with the tools you love</h2>
            <p>Compress.o integrates with nearly every social media and digital marketing tool, saving you time and hassle.</p>
        </div>
        <div class="cta-1">  
            <!-- call to action -->
             <button class="cta-explore"><i class="far fa-lightbulb"></i> Explore</button>
          </div>
    </div>

   
</section>





         
         
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>